body {
    background-color: #FFD1DC;
}
h1 {
    color: palevioletred;
    text-align: center;
    font-family: Noto Sans;
}
.dog {
    display: flex;
    align-items: center;
    justify-content: center;
}
.select {
    display: flex;
    justify-content: space-around;
}
a {
    text-decoration: none;
}
h2 {
    color: palevioletred;
    font-family: Noto Sans;
    text-align: center;
}
.food, .foodnames {
    display: flex;
    justify-content: space-around;
}
.relax {
    display: flex;
    justify-content: space-around;
    height: 500px;
}